#### create conda env & install all the following packages
#### conda create --name kaggle python=3.11

#torch
torch 
torchvision 
torchaudio
transformers 
accelerate

#python
notebook

#kaggle
kagglehub
polars

#llm
unsloth
